
<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Sign Up", signup_path %> or <%= link_to "Log In", login_path %>
<% end %>

<p id="notice"><%= notice %></p>

<section class="hero is-fullheight is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-family-monospace">
        ED
      </h1>
      <h2 class="subtitle">
        for all your education needs
      </h2>
    </div>
  </div>
</section>